body {
	background: url("http://www.dewitt.lib.ia.us/images/seusspic/image_preview");
}
.jumbotron {
	background-color: #5bc0de;
}

.jumbotron h1, .jumbotron p {
	color: #ffffff;
	text-align: center;
}

h2 {
	color: #5bc0de;
	font-weight: bold;
}

th, td, label {
	color: #4895d1;
}
